[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
flask = "*"
numpy = "*"
python-chess = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.11"
